.table-col.pseudo-link {
  background: transparent;
  border: none;
  color: var(--mantine-color-secondary-text);

  border: 1px solid transparent;
}

.table-col.pseudo-link span {
  display: block;
  width: 100%;
  border :1px solid transparent;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.entity-table-row:hover .table-col.pseudo-link{
  text-decoration: underline;
  cursor: pointer;
}

.entity-table-row.header {
  height: 24px;
}


.entity-table > header > .table-toolbar {
  position: relative;
}